*{margin: 0;padding: 0;font-family: "微软雅黑";}
body,html{width: 100%;height: 100%;background: #212227;}
#wrap{width: 100%;height: 100%;overflow: hidden;position: absolute;}
#wrap .top{width: 100%;position: absolute;background: #23262d;height: 50px;box-shadow: 2px 2px 3px #111518;z-index: 100;}
#wrap .top h1{line-height: 50px;font-size: 16px;color: #ccc;font-weight: 600;margin-left: 50px;width: 200px;
position: absolute;}
#wrap .top input{position: absolute;right: 120px;height: 25px;top: 10px;border: #444444 solid 1px;
background: #272a31;color: #ccc;width: 150px;}
#wrap .top h2{position: absolute;color: #ccc;font-size: 14px;font-weight: 400;right: 280px;line-height: 50px;}
#wrap .left{height: 100%;position: absolute;background: #23262d;width: 50px;z-index: 101;top: 50px;
box-shadow: 1px 2px 3px #111518;}
#wrap .left .menu{width: 100%;height: 50px;background: #272a31;border-bottom: 1px #444444 solid;cursor: pointer;}
#wrap .left .menu:hover{background: #373c46;}
#wrap .left .infoBtnActive{background: #373c46;}
#wrap .left .menu p{font-size: 18px;color: #fff;width: 50px;text-align: center;line-height: 45px;margin-top: 5px;float: left;}
#wrap #cesiumContainer{width: 70%;position: absolute;top: 150px;padding: 20px;background: #212227;left: 60px;bottom: 20px;padding-bottom: 0;}
#wrap .indexInfo{position: absolute;width: 70%;position: absolute;top: 50px;height: 100px;padding-left: 80px;}
#wrap .indexInfo .infoBtn{width: 49%;height: 80px;float: left;background: #272a31;margin: 20px 0% 0px 2%;
border-radius:3px;position: relative;cursor: pointer;}
#wrap .indexInfo .infoBtn:hover{opacity: 0.8;}
#wrap .indexInfo .infoBtn .infoBtnBottom{width: 100%;height: 3px;position: absolute;bottom: 0;
  background: -webkit-linear-gradient(left, #7f42e8,#fd397b); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #7f42e8,#fd397b); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #7f42e8,#fd397b); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #7f42e8,#fd397b); /* 标准的语法 */}
#wrap .indexInfo .infoBtnFirst{margin-left: 0;}
#wrap .indexInfo .infoBtn p{color: #ccc;font-size: 20px;line-height: 45px;height: 45px;position: absolute;
background: #383e4e;display: block;width: 45px;text-align: center;border-radius: 50%;border:4px #2e3138 solid;margin: 12px;}
#wrap .indexInfo .infoBtn h3{color: #ccc;font-size: 24px;float: left;line-height:80px;font-weight: 400;margin-right: 20px;
text-align: right;height: 80px;overflow: hidden;margin-left: 100px;}
#wrap .indexInfo .infoBtn span{display: block;float: left;line-height: 80px;color: #fff;font-size: 24px;
margin-right: 20px;text-align: right;overflow: hidden;height: 80px;}

#wrap .rightTable{position: absolute;left: 70%;top: 70px;bottom: 20px;background: #272a31;right: 20px;margin-left: 100px;
padding: 20px;overflow: hidden;border-radius: 3px;}
#wrap .rightTable h1{width: 100%;font-size: 14px;color: #fff;text-align: left;font-weight: 400;line-height:30px;}
#wrap .rightTable .tableContent{width: 100%;border-bottom: 1px #ccc solid;float: left;}
#wrap .rightTable .tableContent h2{color: #ccc;width: 50%;float: left;line-height: 50px;height: 50px;font-size: 14px;
font-weight: 400;}
#wrap .rightTable .tableContent h2 strong{width: 50px;text-align: left;float: left;}
#wrap .rightTable .tableContent h4{color: #ccc;width: 20%;float: left;line-height: 50px;height: 50px;font-size: 14px;
font-weight: 400;}
#wrap .rightTable .tableContent .types{width: 20%;float: left;height: 50px;}
#wrap .rightTable .tableContent .types h3{width: 20px;height: 20px;background: #d939a3;float: left;display: block;margin: 15px;}
#wrap .cesium-viewer-bottom ,#wrap .cesium-timeline-main,#wrap .cesium-viewer-animationContainer{display: none;}

.page2Echart{position: absolute;right: 0%;background: #212227;top: 70px;bottom: 20px;left: 70%;padding-left: 20px;opacity: 0}
.page2Echart #echart1{position: absolute;width: 88%;height: 47%;background: #272a31 !important;padding: 2%;border-radius: 2px;}
.page2Echart #echart2{position: absolute;width: 88%;height: 47%;top: 50%;background: #272a31 !important;padding: 2%;border-radius: 2px;}
.page2Echart #echart3{position: absolute;width: 88%;height: 0%;top: 68%;background: #272a31;padding: 2%;border-radius: 2px;display: none;}
.page2Echart #echart3 h1{width: 100%;font-size: 18px;color: #fff;float: left;margin-top: 10px;padding-left: 10px;}
.page2Echart #echart3 .boxContent{width: 90%;float: left;height: 40px;line-height: 40px;border-bottom: 1px #fff solid;margin-left: 5%;}
.page2Echart #echart3 .boxContent h2{width: 20%;float: left;text-align: center;font-size: 14px;color: #fff;line-height: 50px;
font-weight: 400;}

.page3Echart{position: absolute;left: 80px;right: 15px;top: 70px;bottom: 20px;background: rgba(39,42,49,0.9);border-radius: 10px;
z-index: 1000;opacity: 0;border: 1px #ccc solid;}
.page3Echart .page3{width: 46%;float: left;height: 44%;margin-left: 2.5%;margin-top: 2%;border: 1px #717171 solid;
border-radius: 5px;background:rgba(39,42,49,0.5);}
.page3Echart .closed{position: absolute;width: 50px;height: 50px;right: -5px;color: #fff;top: 0px;cursor: pointer;z-index: 100;}
.page3Echart .closed p{display: block;width: 50px;text-align: center;font-size: 30px;}
.page3Echart .box{width: 90%;float: left;height: 30px;border-bottom: 1px #ccc solid;margin-left: 5%;}
.page3Echart .box h2{font-size: 12px;color: #fff;font-weight: 400;width: 20%;float: left;text-align: center;line-height: 30px;}
.page3Echart h1{font-size: 18px;width: 100%;line-height: 30px;color: #fff;margin-bottom: 10px;}
.page3Echart .page3Echart_1{position: absolute;height: 100%;width: 100%;}
.page3Echart .page3Echart_2{position: absolute;height: 100%;width: 100%;left: 100%;}
.page3Echart .page4{float: left;width: 50%;height: 90%;margin-top: 3%;margin-left: 2%;border-radius: 5px;
border: 1px #717171  solid;}
.page3Echart .page5{float: left;width: 40%;height: 27%;border-radius: 5px;border: 1px #717171  solid;margin-top: 2%;margin-left: 3%;}
.page3Echart .page6{width: 20%;}
.page3Echart #echart2_5{margin-left: 0;}
.page3Echart #echart2_2{margin-top: 3%;}
.page3Echart .bkBtn{position: absolute;top: -5px;left: 10px;width: 50px;height: 50px;cursor: pointer;}
.page3Echart .bkBtn p{color: #fff;line-height: 50px;text-align: center;font-size: 30px;}

.page4Echart{position: absolute;left: 100px;top: 90px;right: 35px;bottom: 40px;background: rgba(39,42,49,1);border-radius: 10px;
z-index: 1000;border: 1px #ccc solid;opacity: 0;}
.page4Echart .box{width: 48%;float: left;height: 47%;margin: 1%;margin-bottom: 0;}
.page4Echart .closed2{position: absolute;width: 50px;height: 50px;right: -5px;color: #fff;top: 0px;cursor: pointer;z-index: 10;}
.page4Echart .closed2 p{display: block;width: 50px;text-align: center;font-size: 30px;}

#menu1{position: absolute;left: 0;top: 0;bottom: 0;right: 0;}
#menu2{position: absolute;left: 0;top: 0;bottom: 0;right: 0;}

.page2{top: 70px;left: 70px;right: 20px;bottom: 20px;position: absolute;background: rgba(39,42,49,1);padding:20px;border-radius: 3px;}
#echart14{width: 100%;height: 100%;position: absolute;}
#menu2_btn{position: absolute;top: 0;height: 50px;line-height: 50px;right: 20px;z-index: 100;}
#menu2_btn .inputGroup{float: left;margin-right: 40px;}
#menu2_btn h1{float: left;font-size: 16px;font-weight: 400;margin-right: 20px;color: #fff;}
.loading{width: 100%;height: 100%;position: absolute;background: rgba(0,0,0,0.5);z-index: 10000;display: none;}
.sk-cube-grid {position: absolute;width: 80px;height: 80px;left: 50%;top: 50%;margin-top: -40px;margin-left: -40px;}
.sk-cube-grid .sk-cube {width: 33%;height: 33%; background-color: #89abd5;float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
